@(columns: Map[String, Seq[model.Task]])

<html>
<head>
    <title>Board</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/board.css")'>
</head>
<body>
<div id="column-wrapper">
<table id="column-table">
<tr>
@for(column <- columns) {
<td class="column">
<div class="column-header">
<h2>@column._1</h2>
</div>
<div class="task-list">
<ul>
    @for(task <- column._2) {
    <div class="task">@task.title</div>
    }
</ul>
</div>
</td>
}
</tr>
</div>
</body>
</html>
